body {
	background-color: rgb(200,200,200);
}
head {
	font-size: 43px;
}
.container {
	width: 920px;
}
h1 {
	background-color: DarkCyan;
}
p {
	background-color: #ee3e80;
	width: 620px;
}
.instructions {
	width: 620px;
	float: left;
	background-color: white;
}
.gameElement {
	width: 620px;
	float: left;
}
#win {
	width: 300px;
	font-size: 21px;
}
#loss {
	width: 300px;
	font-size: 21px;
}
#randomNumber {
	width: 620px;
	font-size: 34px;
}
#numberOne {
	color: #ee3e80;
}
#numberTwo {
	color: #ee3e80;
}
#numberThree {
	color: #ee3e80;
}
#numberFour {
	color: #ee3e80;
}
#score {
	font-size: 34px;
	color: white;
}